{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{%static 'homechef/landingpage.css'%}">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
       
    <body>

      <div class="header">
        <a href="{% url 'landing' %}" class="logo">HOMECHEF</a>
        <div class="header-right">
            <a href="{% url 'landing' %}"><button class="button1">Home</button></a>
            <a href="{% url 'logout' %}"><button class="button2">Log out</button></a>

        </div>
      </div>

      <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" height = "250" width = "250" src="{{ user.profile.image.url }}">
      </div>
      <h2 class="account-heading">Username :{{ user.username }}</h2>
      <p class="text-secondary">Email id :{{ user.email }}</p>
      {% if user.profile.phone_number %}
          <p class="text-secondary">PhoneNumber : {{ user.profile.phone_number }}</p>
      {% else %}
          <p class="text-secondary">PhoneNumber : </p>
      {% endif %}
     </div>

     </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class = "form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
          </fieldset>
          <div class="row border-bottom">
            <div class="col">
              <div class="form-group">
                <button type="submit" class="btn btn-warning">Update</button>
              </div>
      </form>
    </div>



      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>