.header {
    overflow: hidden;
    background-color: #ffcb00;
    padding: 1px 180px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 60px;
    text-decoration: none;
    font-size: 25px; 
    line-height: 150px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 85px;
    font-weight: bold;
    font-family:verdana;
  }
  
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }
  button{
      margin:60px;
  }

  .button1 {
    background-color: white;
    border: none;
    color:black;
    padding: 45px 90px;
    text-align: center;
    /* margin: 400px; */
    
    font-size: 70px;
    /* margin: 6px 4px; */
    cursor: pointer;
    border-radius: 50px;
  }
  .button2 {
    background-color:black;
    border: none;
    color: white;
    padding: 45px 90px;
    text-align: center;
    
    
    font-size: 70px;
    /* margin: 6px 4px; */
    cursor: pointer;
    border-radius: 50px;
  }

#slider
{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width:500%;
    margin:0;
    left:0;
    animation: 10s slider infinite;
}
#slider figure:hover {
	/*animation-play-state: paused; enable for pause on hover*/
}
#slider figure img{
    width:20%;
    height:2200px;

    float:left;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}

body{
    margin: 0;
    padding: 0;
}

footer{
    background-color: black;
    margin: 0;
    padding: 10px;
}

.counters{
  width: 350px;
  height: 350px;
  float: left;
  margin: 60px;
  font-weight: bold;
  background-color: yellow;
  background-image: linear-gradient(to bottom right, orange, yellow); 
}

.all{
  padding-top: 100px;
  padding-left: 155px;
}

.first{
  padding-left: 110px;
}

.second,.third{
  padding-left: 85px;
}

.popular{
    background-color: white;
    height: 450px;
    margin: 0;
    padding: 30px;
}

h1,h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
  padding: 8px;
  background-color: yellow;
  background-image: linear-gradient(to bottom right, orange, yellow); 
  border: black;
  color: white;
  border-radius: 15px;
  font-size: 20px;
}


.shopping{
    background-color: #FFCB00;
    height: 450px;
    margin: 0;
    padding: 30px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card, .flip-card1 {
    width: 350px;
    height: 400px;
    margin: 20px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    float:right;
  }

  .flip-card{
    background-color: #FFCB00;
  }

  .flip-card1{
      background-color: black;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color:white;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }
  

.advertise{
    background-color: white;
    height: 450px;
    margin: 0;
    padding: 30px;
}

.volunteer{
    background-color: black;
    height: 450px;
    margin: 0;
    padding: 30px;
}

.stats{
    background-color: white;
    height: 450px;
    margin: 0;
    padding: 30px;
}


.title{
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.title h1{
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
}


.top{
    margin-left: 50px;
    margin-right: 50px;
    
    /* border-bottom: 1px solid white; */
}

.grid-container{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px;
    justify-content: center;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
}

li{
    padding-top: 10px;
}

a:hover{
    font-weight: bold;
}


