.header {
    overflow: hidden;
    background-color: #ffcb00;
    padding: 0.1px 5px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px; 
    line-height: 50px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family:verdana;
  }
  
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }
  button{
      margin:20px;
  }

  .button1 {
    background-color: white;
    border: none;
    color:black;
    padding: 10px 30px;
    text-align: center;
    /* margin: 400px; */
    
    font-size: 20px;
    /* margin: 6px 4px; */
    cursor: pointer;
    border-radius: 50px;
  }
  .button2 {
    background-color:black;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    
    
    font-size: 20px;
    /* margin: 6px 4px; */
    cursor: pointer;
    border-radius: 50px;
  }
.name
{
  padding:50px;
  margin-left:240px;
  /* display:inline-block;  */
}

.experience
{
  display:inline-block;
  margin-left:30px;
}
.star
{
  display:inline-block;
  margin-left: 60px;
} 
.address
{
  display:inline-block;
  margin-left: 60px;
}
.timings
{
  display:inline-block;
  margin-left: 60px;
}
.checked {
  color: orange;
}
.container
{
  padding:1px;
}
.nav-item
{
  display: inline-block;
}
 .description
{
  background-color:#202020;
  color:white;
} 
.picture
{
  display: inline-block;
}
.ingredients
{
  display: inline-block;
  font-size: 24px;
}

.card-img-top
  {
    height:150px;
  }
  .card-title
  {
    padding:10px 25px;
  }
  .card-text
  {
    padding:0px 25px;
  }
  
  .checked {
    color: orange;
  }
  .star
  {
    margin-left:40px;
  }
.container{
  padding: 50px;
}
 .title{
display:inline-block;
padding: 0px 90px;

}
.logo
{ position:absolute;
  display:inline-block;
  padding-top:0px;
  margin-bottom:0px;
  margin-top:2px;
}  
