.header {
    overflow: hidden;
    background-color: #ffcb00;
    padding: 0.1px 5px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px; 
    line-height: 50px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family:verdana;
  }
  
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }
  button{
      margin:20px;
  }

  .button1 {
    background-color: white;
    border: none;
    color:black;
    padding: 10px 30px;
    text-align: center;
    /* margin: 400px; */
    
    font-size: 20px;
    /* margin: 6px 4px; */
    cursor: pointer;
    border-radius: 50px;
  }
  .button2 {
    background-color:black;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    
    
    font-size: 20px;
    /* margin: 6px 4px; */
    cursor: pointer;
    border-radius: 50px;
  }

  .form-main {
    margin-top: 0;
  }
  
  .form-input-fields {
   margin-bottom: 0; 
  }
  
  .section-main {
    margin-top:40px;
    background-color: lightgrey;
    padding: 20px 0;
  }
  .group-icon {
    background-color:#fff;
    border:0; 
  }
  .input-search {
    border:1px solid #fff;
    padding:20px 40px;
    font-size:20px;
    box-shadow:none;  
  }
  @media (max-width: 992px) {
      .pull-left-sm {
          float: left !important;
      }
    
  }
  @media (max-width: 767px) {
    .nofloat-xs {
        float: none !important;
    }
  .btn-submit {
    margin-top:10px;
  }
}

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 0px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 0px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 5px;}
    .sidebar a {font-size: 18px;}
  }
  
  
  .card-img-top
  {
    
    padding-left: 0px;
    width:190px;
    height:140px;
  }
  .card-title
  {
    padding:10px 25px;
  }
  .card-text
  {
    padding:0px 25px;
  }
  
  .checked {
    color: orange;
  }
  .star
  {
    margin-left:40px;
  }
  .card{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;

  }
  .card:hover,
  .card:focus{box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  transition:0.2s ease;}
  .card:active{

  box-shadow:0 1px 2px rgba(0,0,0,0.4);
  transition:0.2s ease;
  }
  
.container
{
    padding-top: 20px;
}