@import url(//fonts.googleapis.com/css?family=Lato:400,900);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.hovst:hover{
	background-color: black;
}

.info{
    background-color: #ffcb00;
}
.info-card {
    background-color:#FFCB00;
    float: left;
	margin: 10px;
	perspective: 600px;
}

.front, .back {
	background: #FFF;
	border-radius: 10px;
	transition: transform 1s;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border: 1px solid black;
}

.front {
	overflow: hidden;
	width: 250px;
	height: 330px;
	position: absolute;
	z-index: 1;
}

.back {
    background-color: black;
	padding: 20px;
	padding-top: 0px;
	width: 250px;
	height: 330px;
	transform: rotateY(-180deg);
	overflow: scroll;
}

.info-card:hover .back {
	transform: rotateY(0);
}

.info-card:hover .front {
	transform: rotateY(180deg);
}

.card-image {
width: 100%;
height: 100%;
}


/* Social buttons */
.social {
	list-style: none;
	padding: 0px;
	margin-top: 25px;
	text-align: center;
}

.social a {
		position: relative;
		display: inline-block;
		min-width: 40px;
		padding: 10px 0px;
		margin: 0px 5px;
		overflow: hidden;
		text-align: center;
		background-color: rgb(215, 215, 215);
		border-radius: 40px;
	}


a.social-icon {
	text-decoration: none !important;
	box-shadow: 0px 0px 1px rgb(51, 51, 51);
	box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
	}
a.social-icon:hover {
	color: rgb(255, 255, 255) !important;
}
a.facebook {
	color: rgb(59, 90, 154) !important;
}
a.facebook:hover {		
	background-color: rgb(59, 90, 154) !important;
}
a.twitter {
	color: rgb(45, 168, 225) !important;
}
a.twitter:hover {
	background-color: rgb(45, 168, 225) !important;
}
a.github {
	color: rgb(51, 51, 51) !important;
}
a.github:hover {
	background-color: rgb(51, 51, 51) !important;
}

.footer {
    padding: 50px 0 20px 0;
    background-color: black;
    color: #878c94;
}
.footer .title{text-align: left;color:#fff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}