{% load static %}
{% load cart_template_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'homechef/css/base.css' %}"> 
    <!-- <link rel="stylesheet" href="{% static 'homechef/landingpage.css' %}">  -->
    <!-- <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'homechef/css/product.css' %}"> 
    

    
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #ffcb00;">
    <div class="logo" style="float: left"><img src="{% static 'homechef/images/logo2.png' %}" alt="LOGO" width="50%" height="40%"></div>
    <a class="navbar-brand font-weight-bold" href="{% url 'landing' %}">HOMECHEF</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Buy' %}" style="color:black;">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'selling1' %}" style="color:black;">Sell</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'hire' %}" style="color:black;">Hire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bevolunteer' %}" style="color:black;">Volunteer</a>
        </li> -->
      </ul>
  
      <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
              <li><button type="button" class="btn btn-dark" style="background-color:black;margin: 5px;"><a href="{% url 'profile' %}" style="color: white;text-decoration: none;"><i style="font-size:16px" class="fa">&#xf007;</i>Profile</a></button></li>
              <li><button type="button" class="btn btn-dark" style="background-color:black;margin: 5px;"><a href="{% url 'order-summary' %}" style="color: white;text-decoration: none;"><span class="badge z-depth-1 mr-1" style="background-color: white;color: black;"> {{ request.user|cart_items_count }} </span><i style="font-size:16px" class="fa fa-shopping-cart"></i>Cart</a></button></li>
              <li><button type="button" class="btn btn-dark" style="background-color: black;margin: 5px;"><a href="{% url 'logout' %}" style="color: white;text-decoration: none;"><i style="font-size:16px" class="fa">&#xf08b;</i> Logout</a></button></li>
          {% else %}
              <li><button type="button" class="btn btn-dark" style="background-color:black;margin: 5px;"><a href="{% url 'register' %}" style="color: white;text-decoration: none;"><i style="font-size:16px" class="fa">&#xf007;</i> Signup</a></button></li>
              <li><button type="button" class="btn btn-dark" style="background-color: black;margin: 5px;"><a href="{% url 'login' %}" style="color: white;text-decoration: none;"><i style="font-size:16px" class="fa">&#xf090;</i> Login</a></button></li>
          {% endif %}
        </ul>
    </div>
  </nav>
  {% if messages %}
    
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="margin: 0;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin: 0;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    
  {% endif %}
  {% block content %}{% endblock %}
      <footer class="site-footer">
        <div class="container">
          <div class="row">
             <div class="col-sm-12 col-md-4">
             <h4 class="title">HOMECHEF</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit, libero a molestie consectetur, 
                      sapien elit lacinia mi.</p>
                      <ul class="social-icon">
                        <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
                        </ul>
            </div>
    
            <div class="col-xs-6 col-md-3" >
              <h3 class="title">COMPANY</h3>
              <span class="acount-icon" >          
                <a href="{% url 'about' %}">About</a>
                <a href="#">Team</a>
                
              </span>
            </div>
    
            <div class="col-xs-6 col-md-1">
              <h4 class="title">CATEGORY</h4>
              <div class="category">
                <a href="#">BUY</a>
                <a href="#">SELL</a>
                <!-- <a href="#">VOLUNTEER</a>
                <a href="#">HIRE</a> -->
                </div>
            </div>
          
            <div class="col-sm-4 col-md-4">
              <h4 class="title" style="padding-left:130px;">Payment Methods</h4>
              <p style="padding-left:130px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <ul class="payment">
              
              <li><a href="#"><i class="fa fa-credit-card" aria-hidden="true" style="padding-left: 80px;"></i></a></li>            
              
              </ul>
            </div> 
            
            <div class="container"><hr>
              <div class="row">
              
                <div class="col-md-8 col-sm-6 col-xs-12" >
                 
                  <p class="footer-copyright text-center py-3" style="padding-left: 300px;">Copyright &copy; 2020. Made by Team30 .IIITS
               
                  </p>
                </div>
              
            </div>
            </div>
          </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static 'homechef/js/food.js' %}"></script>  
<script src="{% static 'homechef/js/vendor.js' %}"></script> 

</body>
    </html>