{% extends 'homechef/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container wow fadeIn">
  <h2 class="my-5 h2 text-center">Checkout form</h2>
  <div class="col">
    <div class="card">
      <form method="POST" class="card-body">
        {% csrf_token %}
          <div class="md-form mb-5">
            <label for="address" class="">Address</label><br>
              {{ form.street_address }}
          </div>
          <div class="md-form mb-5">
            <label for="address-2" class="">Address 2 (optional)</label><br>
              {{ form.apartment_address }} 
          </div>
            <div class="col-lg-4 col-md-12 mb-4">
              <label for="country">Country</label>
              {{ form.country }}
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <label for="zip">Zip</label><br>
              {{ form.zipfield }}
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          <div class="custom-control custom-checkbox">
            {{ form.same_billing_address }}
            <label for="same-address" class="custom-control-label">Shipping address is the same as my billing address</label>
          </div>
          <div class="custom-control custom-checkbox">
            {{ form.save_info }}
            <label for="save-info" class="custom-control-label">Save this information for next time</label>
          </div>
          <hr>
          <div class="d-block my-3">
              {% for value, name in form.fields.payment_option.choices %}    
                  <div class="custom-control custom-radio">
                      <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" checked required>
                      <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                  </div>
              {% endfor %}
                
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
  
</div>
{% endblock %}