{% extends 'homechef/base.html' %}
{% load static %}
{% block content %}
  </nav>
</nav>
<link rel="stylesheet" href="{% static 'homechef/css/food.css' %}">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   
      <a href="#">Filter by Rating</a>
     
        
      <form action="#" method="get" class="px-4 py-3">
        <div class="form-group">
      
          <select class="selectpicker form-control" onchange="location = this.options[this.selectedIndex].value;" placeholder="Default input" >
            <option>--select--</option>
            <option value="{% url 'foodrating1' %}">Rating 1</option>
            <option value="{% url 'foodrating2' %}">Rating 2</option>
            <option value="{% url 'foodrating3' %}">Rating 3</option>
            <option value="{% url 'foodrating4' %}">Rating 4</option>
            <option value="{% url 'foodrating5' %}">Rating 5</option>
          </select>
        </div>
        
  </form>

  <a href="#">Filter by Price</a>
     
        
      <form action="#" method="get" class="px-4 py-3">
        <div class="form-group">
      
          <select class="selectpicker form-control" onchange="location = this.options[this.selectedIndex].value;" placeholder="Default input" >
            <option>--select--</option>
            <option value="{% url 'searchprice1' %}">Rs.100-Rs-250</option>
            <option value="{% url 'searchprice2' %}">Rs.250-Rs.500</option>
            <option value="{% url 'searchprice3' %}">Rs.500 and above</option>
            
          </select>
        </div>
        
  </form>



  

    
    
    <a href="#">Services</a>
    <a href="#">Location</a>
              


    </div>
  
  
  <div id="main">
    <button class="openbtn" onclick="openNav()">&#9776; </button>
   
  </div>
  <div class="col-xs-12 col-md-6">
    <form action="/searchfood" method="get" class="form-main  form-inline nofloat-xs pull-right pull-left-sm">

      <div class="form-group form-input-fields form-group-lg has-feedback">

        <label class="sr-only" for="search">Search</label>
        <div class="input-group">
          <input type="text" class="form-control input-search" name="q" id="search" placeholder="Search by Pincode">
          <span class="input-group-addon group-icon"> <span class="glyphicon glyphicon-user"></span>
          </span>
        </div>

        <button type="submit" class="btn btn-lg btn-success btn-submit">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search 
        </button>


      </div>


    </form>
  </div>



</nav>
<br>
 <div class="container">
   
<div class="row row-cols-1 row-cols-md-5 ">
<!-- <div class="shadow p-3 mb-5 bg-white rounded"> -->
  
  </div>
<div class="container"> 
  

  <!-- Declare the pagination class -->
  <ul class="pagination"> 

      <!-- Specify the disabled class to style this item disabled -->
      <li class="page-item disabled"> 

          <!-- Specify tabindex to make the link non navigatable -->
          <a class="page-link" href="#" tabindex="-1">Previous</a> 
      </li> 
      <li class="page-item"><a class="page-link" href="#">1</a></li> 
      <li class="page-item"> 
          <a class="page-link" href="#">2</a> 
      </li> 
      <li class="page-item"><a class="page-link" href="#">3</a></li> 
      <li class="page-item"> 
          <a class="page-link" href="#">Next</a> 
      </li> 
  </ul> 
</div> 

  </div>
{% endblock %}