{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
=
</head>
<body>

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="{% static 'homechef/ContactFrom_v1/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'homechef/ContactFrom_v1/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'homechef/ContactFrom_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'homechef/ContactFrom_v1/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'homechef/ContactFrom_v1/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'homechef/ContactFrom_v1/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'homechef/ContactFrom_v1/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'homechef/ContactFrom_v1/css/main.css' %}">
<!--===============================================================================================-->


	<div class="contact1">
		<div class="container-contact1">

			<form class="contact1-form validate-form">
				<span class="contact1-form-title">
					Fill up to be a volunteer!
				</span>

				<div class="wrap-input1 validate-input" data-validate = "Address is required">
					<input class="input1" type="text" name="address" placeholder="Address">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "City is required: ex@abc.xyz">
					<input class="input1" type="text" name="City" placeholder="City">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "State is required">
					<input class="input1" type="text" name="state" placeholder="State">
					<span class="shadow-input1"></span>
				</div>
				<div class="wrap-input1 validate-input" data-validate = "Pincode is required">
					<input class="input1" type="text" name="pincode" placeholder="Pincode">
					<span class="shadow-input1"></span>
				</div>
				<div class="wrap-input1 validate-input" data-validate = "Contact info is required">
					<input class="input1" type="text" name="contact" placeholder="Contact no.">
					<span class="shadow-input1"></span>
				</div>
				
				
				<div class="wrap-input1 validate-input" data-validate = "Aadhar info is required">
				<p>Click on the "Browse" button to upload Aadhar:</p>

				<form action="/action_page.php">
  				<input class="input1" type="file" id="myFile" name="filename">
				</form>
				</div>
				<div class="wrap-input1 validate-input" data-validate = "photo info is required">
				<p>Click on the "Browse" button to upload passport photo:</p>

				<form action="/action_page.php">
  				<input class="input1" type="file" id="myFile" name="filename">
  				<span class="shadow-input1"></span>
				</form>
				</div>
				



				<div class="container-contact1-form-btn">
					<a href="{% url 'myvolunteerinfo' %}">
						<button class="contact1-form-btn">
							<span>
								Register
								<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							</span>
						</button>
					</a>
				</div>
			</form>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{% static 'homechef/ContactFrom_v1/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'homechef/ContactFrom_v1/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'homechef/ContactFrom_v1/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'homechef/ContactFrom_v1/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'homechef/ContactFrom_v1/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

<!--===============================================================================================-->
	<script src="{% static 'homechef/ContactFrom_v1/js/main.js' %}"></script>

</body>
</html>
