{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-warning bg-warning">
      <a class="navbar-brand  text-dark"  href="{% url 'landing' %}">HomeChef</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
<div class="collapse navbar-collapse  d-flex justify-content-end pr-5" id="navbarNavDropdown">
 <ul class="navbar-nav ">
     {% if user.is_authenticated %}
     <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ user.username }}
        </a>
       <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
         <a href="{% url 'profile' %}" class="dropdown-item" href="#">My Profile</a>
         <a class="dropdown-item" href="#">Order</a>
         <a class="dropdown-item" href="#">Addresses</a>
         <a href="{% url 'logout' %}"class="dropdown-item" href="#">Log out</a>
      {% else %}
         <a href="{% url 'register' %}"><button class="btn btn-primary mr-3">Sign up</button></a>
         <a href="{% url 'login' %}"><button class="btn btn-info">Log in</button></a>
       {% endif %}
       </div>
      </li>
  </ul>
 </div>
  </nav>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>